In [32]:
print(2*2)

4

In [33]:
string = 'my name is usmaan'+' and i am 26 years old'   
print(string.upper())

MY NAME IS USMAAN AND I AM 26 YEARS OLD

In [34]:
a='7789.98' 
float(a)

7789.98

In [35]:
a=6 
b=7 
((a > 5) | (b > 5 ))

True

In [36]:
string2 = """My name is Usmaan  
and my main hobbies are ranked from 1-3 
1. archery, 2. football, 3. camping or hiking"""    
print(string2)

My name is Usmaan
and my main hobbies are ranked from 1-3
1. archery, 2. football, 3. camping or hiking

In [1]:
from datetime import date
today.strftime("%a, %d/%m/%y")

NameError: name 'today' is not defined

In [110]:
u = 1
total = 0 

while total < 100:
    total += u
    u * 5

print(total)

100

In [37]:
x = 'hello' 
isinstance(x, int)
print ("not an integer")

not an integer

In [38]:
x = -1      
if x < 0:
    print ("negative number")

negative number

In [39]:
x = 1 
if x > 0:
    print ("positive number")

positive number

In [40]:
x = 0 
if x == 0:  
    print ("Zero")

Zero

In [45]:
list1 = [0,2,4,1,3,5]   
list1[0:2]

[0, 2, 4]

In [48]:
list1[3:6]

[1, 3, 5]

In [47]:
list1[0:3]

[0, 2, 4]

In [91]:
list2 = [-1, 2,- 8, 83, -22, 33, -62, 9, -9, 12, -11]
output_list = []

for element in range(0, len(list2)): 
    y = list2[element]

    if y > 0:
        output_list.append(y)

print(list2)
print(output_list)

[-1, 2, -8, 83, -22, 33, -62, 9, -9, 12, -11]
[2, 83, 33, 9, 12]

In [99]:
list3 = ['1', '2', '3.5', '20.9']
output_list2 = []

for position in range(0, len(list3)):
    z = list3[position]

    if isinstance(z, str):
        x = float(z)

    output_list2.append(x)

print(list3)
print(output_list2)

['1', '2', '3.5', '20.9']
[1.0, 2.0, 3.5, 20.9]

In [100]:
[float(element) for element in list3]

[1.0, 2.0, 3.5, 20.9]